<div
  class="fixed h-full w-full left-0 top-0 flex items-center justify-center p-4 bg-gray-800"
  [style.top.px]="top$ | async"
  [style.height.px]="visualViewportHeight$ | async"
>
  @if(queue$ | async; as item) {
    <div class="flex flex-col w-full items-center justify-between h-full max-h-100">
      <div
        class="flex flex-col items-center justify-start gap-4">
          <div
            class="relative flex items-center justify-center w-20 h-20 rounded-full border-2 overflow-hidden"
            [class.bg-emerald-500]="selected()?.type === 'correct'"
            [class.border-emerald-500]="selected()?.type === 'correct'"
            [class.border-rose-400]="selected()?.type === 'incorrect'"
            [class.border-transparent]="!selected()"
            [class.text-white]="!selected() || selected()?.type === 'correct'"
            [class.text-rose-400]="selected()?.type === 'incorrect'"
          >
            @switch (selected()?.type) {
              @case ('correct') {
                <mat-icon class="scale-200" aria-hidden="false" aria-label=Correct>done</mat-icon>
              }
              @case ('incorrect') {
                <mat-icon  class="scale-200" aria-hidden="false" aria-label=Incorrect>clear</mat-icon>
              }
              @default {
                <button
                  type="button"
                  (click)="playHandler(item)"
                  class="flex items-center justify-center w-20 aspect-square cursor-pointer text-4xl rounded-full bg-blue-500 text-white">
                  <mat-icon class="scale-200" aria-hidden="false" aria-label=Play>volume_up</mat-icon>
                </button>
              }
            }
          </div>
          <div class="mt-4 flex flex-col items-center text-center">
            <div
              class="text-2xl line-clamp"
              [class.text-rose-400]="selected()?.type === 'incorrect'"
              [class.text-emerald-500]="selected()?.type === 'correct'"
            >{{ selected()?.word || '&nbsp;' }}</div>
            <div class="text-lg text-white mt-2 line-clamp">
              {{ selected()?.translation || '&nbsp;' }}
            </div>
          </div>
      </div>
      <div class="w-full max-w-80  border-b-3 border-b-gray-700">
        <div
          autofocus
          #wordInputRef
          type="text"
          contenteditable
          (focus)="focusSubject.next()"
          (keydown.enter)="clickHandler(item, wordInputRef)"
          class="w-full max-h-20 text-white text-xl outline-none resize-none overflow-y-auto"
        ></div>
      </div>
      <button
        class="w-full max-w-80 rounded-sm text-white bg-blue-500 p-2 text-md cursor-pointer"
        (click)="clickHandler(item, wordInputRef)"
      >
        Check
      </button>
    </div>
  } @else {
    <div class="w-full flex flex-col gap-4 h-full pb-8">
      <ul class="flex flex-col gap-4 w-full overflow-auto max-w-200 m-auto text-xl pe-2">
        @for(item of resultList$ | async; track item.id) {
          <li class="flex items-center justify-between gap-4">
            <div class="flex flex-col">
              <div class="text-blue-600">
                {{ item.word }}
              </div>
              <div class="text-white">
                {{ item.translation }}
              </div>
            </div>
            <div
              class="rounded-full w-4 h-4 shrink-0"
              [class.bg-yellow-200]="item.status.inProgress"
              [class.bg-green-300]="item.status.done"
            >&nbsp;</div>
          </li>
        }
      </ul>
      <div class="flex flex-col gap-2 w-full items-center">
        <button
          (click)="replay()"
          class="w-full max-w-100 grow rounded-sm bg-blue-500 text-white p-2 text-md cursor-pointer"
        >
          Continue the training
        </button>
        <button
          routerLink="/training"
          class="w-full max-w-100 rounded-sm text-white border border-blue-500 text-blue-500 p-2 text-md cursor-pointer"
        >
          Exit
        </button>
      </div>
    </div>
  }

</div>
