<div
  class="fixed h-full w-full left-0 top-0 flex items-center justify-center p-4"
  [style.height.px]="visualViewportHeight$ | async"
>
  @if(listeningPageService.page$ | async; as page) {
    @if(page.current) {
      <div class="flex flex-col w-full items-center justify-between h-full max-h-100">
        <div
          class="flex flex-col items-center justify-start gap-4">
            <div
              class="relative flex items-center justify-center w-20 h-20 rounded-full border-2 overflow-hidden"
              [class.bg-emerald-500]="page.selected?.type === 'correct'"
              [class.border-emerald-500]="page.selected?.type === 'correct'"
              [class.border-rose-400]="page.selected?.type === 'incorrect'"
              [class.border-transparent]="!page.selected"
              [class.text-white]="!page.selected || page.selected.type === 'correct'"
              [class.text-rose-400]="page.selected?.type === 'incorrect'"
            >
              @switch (page.selected?.type) {
                @case ('correct') {
                  <mat-icon class="scale-200" aria-hidden="false" aria-label=Correct>done</mat-icon>
                }
                @case ('incorrect') {
                  <mat-icon  class="scale-200" aria-hidden="false" aria-label=Incorrect>clear</mat-icon>
                }
                @default {
                  <button
                    type="button"
                    (click)="playHandler(page.current)"
                    class="flex items-center justify-center w-20 aspect-square cursor-pointer text-4xl rounded-full bg-blue-500 text-white">
                    <mat-icon class="scale-200" aria-hidden="false" aria-label=Play>volume_up</mat-icon>
                  </button>
                }
              }
            </div>
            <div class="mt-4 flex flex-col items-center text-center">
              <div
                class="text-2xl line-clamp-1"
                [class.text-rose-400]="page.selected?.type === 'incorrect'"
                [class.text-emerald-500]="page.selected?.type === 'correct'"
              >{{ page.selected?.word || '&nbsp;' }}</div>
              <div class="text-lg text-white mt-2 line-clamp-1">
                {{ page.selected?.translation || '&nbsp;' }}
              </div>
            </div>
        </div>
        <div class="w-full max-w-80  border-b-3 border-b-gray-700">
          <div
            autofocus
            #wordInputRef
            type="text"
            contenteditable
            (focus)="focusSubject.next()"
            (touchmove)="$event.preventDefault();$event.stopPropagation()"
            (keydown.enter)="enterHandler($event, page, wordInputRef)"
            [class.text-rose-400]="page.selected?.type === 'incorrect'"
            [class.text-emerald-500]="page.selected?.type === 'correct'"
            [class.text-white]="!page.selected"
            class="w-full max-h-20 text-xl outline-none resize-none overflow-y-auto text-center"
          ></div>
        </div>
        <button
          class="w-full max-w-80 rounded-sm text-white bg-blue-500 p-2 text-md cursor-pointer"
          (click)="listeningPageService.select(page, wordInputRef)"
        >
          Check
        </button>
      </div>
    } @else {
      @if(listeningPageService.resultList$ | async; as list) {
        <dic-result-layout>
          <ng-template #titleTemplate let-item="item">
            {{ item.word }}
          </ng-template>
          <ng-template #subTitleTemplate let-item="item">
            {{ item.translation }}
          </ng-template>
          <ng-template #liRightTemplateContent let-item="item">
            <dic-word-status [status]="item.status"/>
          </ng-template>
          <ul
            dicWordsList
            class="block pb-4 max-w-160 m-auto"
            [list]="list"
            [titleTemplate]="titleTemplate"
            [subTitleTemplate]="subTitleTemplate"
            [liRightContentTemplate]="liRightTemplateContent"
          ></ul>
          <dic-result-actions continueLink="/training/listening" exitLink="/training" />
        </dic-result-layout>
      }
    }
  }
</div>
