<div class="fixed w-full h-full left-0 top-0 flex justify-center items-center p-4 bg-gray-800">
  @if(queue$ | async; as item) {
    <div class="flex w-full flex-col gap-4 items-center">
      <h4 class="text-base text-white line-clamp-1">Build a word from the letters</h4>
      <div class="flex flex-col items-center gap-4 h-full w-64">
        <div
          [class.bg-rose-200]="selected()?.type === 'incorrect'"
          [class.bg-emerald-100]="selected()?.type === 'correct'"
          [class.bg-orange-100]="!selected()"
          class="flex items-center justify-center w-full px-2 rounded-xl text-2xl text-center aspect-square transition-colors">

          <div class="line-clamp-5 wrap-anywhere">{{ item.translation }}</div>
        </div>
        <dic-word
          [word]="item"
          (doneChange)="clickHandler(item, $event)"
        />
      </div>
    </div>
  } @else {
    @if(resultList$ | async; as list) {
      <ng-template #titleTemplate let-item="item">
        {{ item.word }}
      </ng-template>
      <ng-template #subTitleTemplate let-item="item">
        {{ item.translation }}
      </ng-template>
      <ng-template #liRightTemplateContent let-item="item">
        <dic-word-status [status]="item.status"/>
      </ng-template>
      <dic-results-list
        [list]="list"
        [titleTemplate]="titleTemplate"
        [subTitleTemplate]="subTitleTemplate"
        [liRightContentTemplate]="liRightTemplateContent"
        (replayChange)="replay()"
        (exitChange)="exit()"
      />
    }
  }

</div>
