<div class="fixed w-full h-full left-0 top-0 flex justify-center items-center p-4">
@if(wordBuilderPageService.page$ | async; as page) {
  @if(page.current) {
    <div class="flex w-full flex-col gap-4 items-center">
      <h4 class="text-base text-white line-clamp-1">Build a word from the letters</h4>
      <div class="flex flex-col items-center gap-4 h-full w-64">
        <div
          [class.bg-rose-200]="page.selected?.type === 'incorrect'"
          [class.bg-emerald-100]="page.selected?.type === 'correct'"
          [class.bg-orange-100]="!page.selected"
          class="flex items-center justify-center w-full px-2 rounded-xl text-2xl text-center aspect-square transition-colors">

          <div class="line-clamp-5 wrap-anywhere">{{ page.current.translation }}</div>
        </div>
        <dic-word
          [word]="page.current"
          (doneChange)="wordBuilderPageService.select(page, $event)"
        />
      </div>
    </div>
  } @else {
    @if(wordBuilderPageService.resultList$ | async; as list) {
      <dic-result-layout>
          <ng-template #titleTemplate let-item="item">
            {{ item.word }}
          </ng-template>
          <ng-template #subTitleTemplate let-item="item">
            {{ item.translation }}
          </ng-template>
          <ng-template #liRightTemplateContent let-item="item">
            <dic-word-status [status]="item.status"/>
          </ng-template>
          <ul dicWordsList
              class="block pb-4 max-w-160 m-auto overflow-auto"
              [list]="list"
              [titleTemplate]="titleTemplate"
              [subTitleTemplate]="subTitleTemplate"
              [liRightContentTemplate]="liRightTemplateContent"
          ></ul>
          <dic-result-actions continueLink="/training/word-builder" exitLink="/training" />
      </dic-result-layout>
    }
  }
}

</div>
