 <div class="flex w-full gap-4 items-center">
   <mat-form-field class="grow">
     <mat-label>Search</mat-label>
     <input matInput (input)="onInput($event)" />
   </mat-form-field>

   @if(isShowAddBtn$ | async) {
     <button matButton="filled" (click)="addNewWord()">Add</button>
   }
 </div>


@if(listOfWords$ | async; as list) {


    <mat-action-list>

      @for(item of list; track item.id) {
        <button mat-list-item class="w-full">
          <span matListItemIcon>
            <button class="cursor-pointer" dicPlayButton [text]="item.word">
              <mat-icon aria-hidden="false" aria-label=Play>play_arrow</mat-icon>
            </button>
          </span>
          <span matListItemTitle>{{item.word}}</span>
          <span matListItemLine>{{item.translation }}</span>
          <span matListItemMeta class="flex items-center">
            <div
              class="rounded-full w-4 h-4"
              [class.bg-gray-200]="item.status === 'new'"
              [class.bg-yellow-200]="item.status === 'inProgress'"
              [class.bg-green-300]="item.status === 'done'"
            >&nbsp;</div>
          </span>
        </button>
      }
    </mat-action-list>
}

