<div class="fixed inset-0 flex items-center justify-center bg-emerald-500">
  @if(repetitionPageService.page$ | async; as page) {
    @if(page.current) {
      <div class="flex flex-col items-center gap-12 w-full p-4">
        <div class="flex flex-col gap-2 items-center justify-center text-4xl">
          @if(page.selected) {
            <div
              class="relative flex items-center justify-center w-20 h-20 rounded-full border-2 overflow-hidden"
              [class.bg-emerald-700]="page.selected.type === 'correct'"
              [class.border-emerald-700]="page.selected.type === 'correct'"
              [class.border-rose-600]="page.selected.type === 'incorrect'"
              [class.border-white]="!page.selected"
              [class.text-white]="!page.selected || page.selected.type === 'correct'"
              [class.text-rose-600]="page.selected.type === 'incorrect'"
            >
              @switch (page.selected.type) {
                @case ('correct') {
                  <mat-icon class="scale-200" aria-hidden="false" aria-label=Correct>done</mat-icon>
                }
                @case ('incorrect') {
                  <mat-icon  class="scale-200" aria-hidden="false" aria-label=Incorrect>clear</mat-icon>
                }
              }
            </div>
          } @else {
            @if(page.timer === undefined) {
              <div class="relative flex items-center justify-center w-20 h-20 rounded-full border-2 border-white text-white overflow-hidden">
                {{ page.queue.length + 1 }}
              </div>
            } @else if(page.timer) {
              <dic-timer
                [duration]="page.timer"
                [radius]="39"
                [strokeWidth]="2"
              >
                <div class="text-white">
                  {{ page.queue.length + 1 }}
                </div>
              </dic-timer>
            } @else {
              <div class="relative flex items-center justify-center w-20 h-20 rounded-full border-2 border-rose-600 text-rose-600 overflow-hidden">
                <mat-icon  class="scale-200" aria-hidden="false" aria-label="Time's up">hourglass_disabled</mat-icon>
              </div>
            }
          }


          <div class="text-white text-center">
            {{page.current.word}}
          </div>
        </div>
        <div class="flex flex-col gap-4 w-full max-w-100">
          @for (variant of page.current.variants; track variant.type) {
            @let incorrect = page.selected === variant && variant.type === 'incorrect';
            @let correct = page.selected === variant && variant.type === 'correct';
            @let disabled = page.timer === 0 && variant.type === 'incorrect';
            <button
              class="p-2 text-xl rounded-md min-w-80 whitespace-nowrap text-ellipsis overflow-hidden"
              [class.bg-gray-100]="!(correct || incorrect)"
              [class.bg-rose-600]="incorrect"
              [class.bg-emerald-700]="correct"
              [class.text-white]="correct || incorrect"
              (click)="repetitionPageService.select(page, variant)"
              [disabled]="disabled"
              [class.text-gray-300]="disabled"
            >
              {{ variant.translation }}
            </button>
          }
        </div>
      </div>
    }@else {
      @if(repetitionPageService.resultList$ | async; as list) {
      <dic-result-layout>
        <ng-template #titleTemplate let-item="item">
          {{ item.word }}
        </ng-template>
        <ng-template #subTitleTemplate let-item="item">
          {{ item.translation }}
        </ng-template>
        <ng-template #liRightTemplateContent let-item="item">
          <dic-word-status [status]="item.status"/>
        </ng-template>
        <ul
          dicWordsList
          class="bg-gray-800 p-4 max-w-160 m-auto overflow-auto"
          [list]="list"
          [titleTemplate]="titleTemplate"
          [subTitleTemplate]="subTitleTemplate"
          [liRightContentTemplate]="liRightTemplateContent"
        ></ul>
        <dic-result-actions continueLink="/training/repetition" exitLink="/training" />
      </dic-result-layout>
      }
    }
  }

</div>
